.ios, .wp , .md{
    page-home {
        font-size: 16px;
        font-weight: normal;
        ion-title{
            padding: 0px 20px;
            background-color: #ffffff;
            border-bottom: 1px solid #e0e0e0;
        }
        .edit-link{
            font-size: 90%;
            color: #345995;
            font-weight: normal;
            font-family: "lato-semibold";
            text-shadow: 0px 0px 3px rgba(52, 89, 149, 0.370588);
        }
        .center-page-title{
            font-size: 80%;
            font-family: "lato-regular";
            letter-spacing: 1px;
            font-weight: normal;
        }
        ion-icon{
            color: #345995;
            font-weight: normal;
            text-shadow: 0px 0px 3px rgba(52, 89, 149, 0.370588);
        }
        ion-item{
            border-bottom: none !important;
            .item-inner{
                padding-right: 0px !important;
            }
            ion-label{
                margin-right: 0px;
            }
            .item-image {
                vertical-align: middle;
                display: inline-block;
                img{
                    width: 45px;
                    height: 45px;
                }
            }
            .item-message{
                // vertical-align: middle;
                padding-left: 10px !important;
                b{
                    font-size: 90%;
                    color: #363636;
                    display: block;
                    line-height: 100%;
                }
                span{
                    font-size: 70%;
                    color: #b9b9b9;
                }
            }
            .item-time{
                vertical-align: top;
                font-size: 70%;
                color: #b9b9b9;
            }
        }
    }
}

