.ios, .md, .wp {
    page-home {
        font-size: 16px;
        font-weight: normal;
        ion-title{
            padding: 0px 20px;
            background-color: #ffffff;
            border-bottom: 1px solid #e0e0e0;
            &.title-md{
                padding: 0px;
                background-color: transparent;
                border-bottom: none;
                text-align: center;
                .edit-link{
                    margin-top: 2px;
                }
                ion-icon{
                    margin-top: 4px;
                }
            }
            &.title-wp{
                padding: 0px;
                background-color: transparent;
                border-bottom: none;
                text-align: center;
                .edit-link{
                    margin-top: 2px;
                }
                ion-icon{
                    margin-top: 4px;
                }
            }
        }
        .toolbar-background-md{
            background: #ffffff;
        }
        .toolbar-background-wp{
            background: #ffffff;
            border-bottom: 1px solid #e0e0e0;
        }
        ion-list{
            padding-top: 10px;
        }
        .edit-link{
            font-size: 90%;
            color: #345995;
            font-weight: normal;
            font-family: "lato-semibold";
            text-shadow: 0px 0px 3px rgba(52, 89, 149, 0.370588);
        }
        .center-page-title{
            font-size: 80%;
            font-family: "lato-regular";
            letter-spacing: 1px;
            font-weight: normal;
        }
        ion-icon{
            color: #345995;
            font-weight: normal;
            text-shadow: 0px 0px 3px rgba(52, 89, 149, 0.370588);
        }
        ion-item-sliding{
            //padding: 5px 0px;
            &.active-slide{
                background-color: #ffffff;
                ion-item{
                    background-color: #f8f8f8;
                }
            }
            ion-item{
                padding: 5px 10px;
            }
        }
        ion-item-options{
            border: none;
            button{
                width: 45px;
                &.item-message-more{
                    background-color: #e6e6e6;
                    ion-icon{
                        color: #000000;
                    }
                }
                &.item-message-delete{
                    background: -webkit-linear-gradient(#345995, #607393);
                    ion-icon{
                        color: #ffffff;
                    }
                }
            }
        }
        ion-item{
            border-bottom: none !important;
            .item-message-inner{
                //display: flex;
                margin-top: 8px;
            }
            ion-row{
                position: relative;
            }
            .item-inner{
                padding-right: 0px !important;
                border-bottom: none !important;
            }
            ion-label{
                margin-right: 0px;
                margin: 0px;
            }
            .item-image {
                vertical-align: middle;
                display: inline-block;
                img{
                    max-width: 100%;
                    // max-width: 40px;
                }
            }
            .item-message{
                // vertical-align: middle;
                padding-left: 8px !important;
                b{
                    font-size: 100%;
                    color: #363636;
                    display: block;
                    line-height: 100%;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
                span{
                    font-size: 70%;
                    color: #b9b9b9;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: inline-block;
                }
            }
            .item-time{
                vertical-align: top;
                font-size: 75%;
                color: #b9b9b9;
                text-align: right;
                position: absolute;
                top: 8px;
                right: 0px;
            }
        }
    }
}

// .md {
//     page-home {
//         font-size: 16px;
//         font-weight: normal;
//         ion-title{
//             text-align: center;
//         }
//         .toolbar-background{
//             background: #ffffff;
//         }
//         ion-list{
//             padding-top: 10px;
//         }
//         .edit-link{
//             font-size: 90%;
//             color: #345995;
//             font-weight: normal;
//             font-family: "lato-semibold";
//             text-shadow: 0px 0px 3px rgba(52, 89, 149, 0.370588);
//             margin-top: 2px;
//         }
//         .center-page-title{
//             font-size: 80%;
//             font-family: "lato-regular";
//             letter-spacing: 1px;
//             font-weight: normal;
//         }
//         ion-icon{
//             color: #345995;
//             font-weight: normal;
//             text-shadow: 0px 0px 3px rgba(52, 89, 149, 0.370588);
//             margin-top: 4px;
//         }
//         ion-item-sliding{
//             margin: 5px 0px;
//             &.active-slide{
//                 ion-item{
//                     background-color: #f8f8f8;
//                 }
//             }
//         }
//         ion-item-options{
//             border: none;
//             button{
//                 width: 45px;
//                 &.item-message-more{
//                     background-color: #e6e6e6;
//                     ion-icon{
//                         color: #000000;
//                     }
//                 }
//                 &.item-message-delete{
//                     background: -webkit-linear-gradient(#345995, #607393);
//                     ion-icon{
//                         color: #ffffff;
//                     }
//                 }
//             }
//         }
//         ion-item{
//             border-bottom: none !important;
//             .item-message-inner{
//                 //display: flex;
//                 margin-top: 8px;
//             }
//             ion-row{
//                 position: relative;
//             }
//             .item-inner{
//                 padding-right: 0px !important;
//                 border-bottom: none !important;
//             }
//             ion-label{
//                 margin-right: 0px;
//                 margin: 0px;
//             }
//             .item-image {
//                 vertical-align: middle;
//                 display: inline-block;
//                 img{
//                     max-width: 100%;
//                     // max-width: 40px;
//                 }
//             }
//             .item-message{
//                 // vertical-align: middle;
//                 padding-left: 8px !important;
//                 b{
//                     font-size: 100%;
//                     color: #363636;
//                     display: block;
//                     line-height: 100%;
//                     overflow: hidden;
//                     text-overflow: ellipsis;
//                 }
//                 span{
//                     font-size: 70%;
//                     color: #b9b9b9;
//                     overflow: hidden;
//                     text-overflow: ellipsis;
//                     display: inline-block;
//                 }
//             }
//             .item-time{
//                 vertical-align: top;
//                 font-size: 70%;
//                 color: #b9b9b9;
//                 text-align: right;
//                 position: absolute;
//                 top: 0px;
//                 right: 0px;
//             }
//         }
//     }
// }

// .wp {
//     page-home {
//         font-size: 16px;
//         font-weight: normal;
//         ion-title{
//             padding: 0px 20px;
//             background-color: #ffffff;
//             border-bottom: 1px solid #e0e0e0;
//         }
//         ion-list{
//             padding-top: 10px;
//         }
//         .edit-link{
//             font-size: 90%;
//             color: #345995;
//             font-weight: normal;
//             font-family: "lato-semibold";
//             text-shadow: 0px 0px 3px rgba(52, 89, 149, 0.370588);
//         }
//         .center-page-title{
//             font-size: 80%;
//             font-family: "lato-regular";
//             letter-spacing: 1px;
//             font-weight: normal;
//         }
//         ion-icon{
//             color: #345995;
//             font-weight: normal;
//             text-shadow: 0px 0px 3px rgba(52, 89, 149, 0.370588);
//         }
//         ion-item-sliding{
//             margin: 5px 0px;
//             &.active-slide{
//                 ion-item{
//                     background-color: #f8f8f8;
//                 }
//             }
//         }
//         ion-item-options{
//             border: none;
//             button{
//                 width: 45px;
//                 &.item-message-more{
//                     background-color: #e6e6e6;
//                     ion-icon{
//                         color: #000000;
//                     }
//                 }
//                 &.item-message-delete{
//                     background: -webkit-linear-gradient(#345995, #607393);
//                     ion-icon{
//                         color: #ffffff;
//                     }
//                 }
//             }
//         }
//         ion-item{
//             border-bottom: none !important;
//             .item-message-inner{
//                 //display: flex;
//                 margin-top: 4px;
//             }
//             ion-row{
//                 position: relative;
//             }
//             .item-inner{
//                 padding-right: 0px !important;
//                 border-bottom: none !important;
//             }
//             ion-label{
//                 margin-right: 0px;
//                 margin: 0px;
//             }
//             .item-image {
//                 vertical-align: middle;
//                 display: inline-block;
//                 img{
//                     max-width: 100%;
//                     max-width: 40px;
//                 }
//             }
//             .item-message{
//                 // vertical-align: middle;
//                 padding-left: 3px !important;
//                 b{
//                     font-size: 90%;
//                     color: #363636;
//                     display: block;
//                     line-height: 100%;
//                     overflow: hidden;
//                     text-overflow: ellipsis;
//                 }
//                 span{
//                     font-size: 65%;
//                     color: #b9b9b9;
//                     overflow: hidden;
//                     text-overflow: ellipsis;
//                     display: inline-block;
//                 }
//             }
//             .item-time{
//                 vertical-align: top;
//                 font-size: 70%;
//                 color: #b9b9b9;
//                 text-align: right;
//                 position: absolute;
//                 top: 0px;
//                 right: 0px;
//             }
//         }
//     }
// }